@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0.4rem;
}

a {
  text-decoration: none;
  color: black;
}

.header,
.footer,
.left-links,
.right-links {
  display: flex;
  gap: 1rem;
}

.header,
.footer {
  padding: 1rem;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer {
  background-color: #eeeeee;
}