.clickmebtn,
.dontclickmebtn {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.clickmebtn {
    background-color: black;
    color: white;
}

.dontclickmebtn {
    background-color: yellow;
}